circle {
    fill: #5f5f5f;
}

path {
    stroke: #5f5f5f;
    stroke-width: 8px;
}

circle.small {
    fill: white;
}

g.contained circle.small {
    fill: #573d29;
}

g.contained > circle, #rect {
    fill: #c0c0c0;
    stroke: none;
    opacity: 1;
}

#interactive {
    fill: #c0c0c0;
    stroke: #bd250d;
    stroke-width: 4px;
}

#interactive:hover {
    fill: #bd250d;
}

rect {
    opacity: 0;
}

path:nth-of-type(4)
{
    stroke: none;
}